@layer normalize, theme, base, components, utilities;

@import "normalize.css" layer(normalize);

@font-face {
  /* Source Han Serif JP Regular の Y 軸を 1/1.43 に縮小した改変フォント */
  font-family: "Rei no Are Mincho";
  font-display: block;
  src: url(/fonts/ReiNoAreMincho-Regular.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  /* Source Han Serif JP Heavy の Y 軸を 1/1.43 に縮小した改変フォント */
  font-family: "Rei no Are Mincho";
  font-display: block;
  src: url(/fonts/ReiNoAreMincho-Heavy.otf) format("opentype");
  font-weight: bold;
}

.font-awesome {
  height: 1em;
  vertical-align: -0.125em;
  width: 1em;
}
